.todoitem {
    width: 80%;
    margin: 10px;
    padding: 10px;
    border-bottom: 3px dashed white;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.todoitem__text {
    max-width: 80%;
    word-wrap: break-word;
    cursor: pointer;
}

.todoitem__edit{
    min-width: 0%;
    max-width: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.todoitem__edit-btn {
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    background-color: firebrick;
    padding: 10px 15px;
    align-self: flex-end;
    cursor: pointer;
} 

.todoitem__edit-form {
    width: 80%;
}

.todoitem__edit-input {
    background-color: transparent;
    outline: none;
    font-size: 15px;
    color: firebrick;
    border: 2px dashed white;
    border-radius: 5px;
    padding: 10px;
    width: 70%;
    font-size: 18px;
    font-weight: bold;
}